<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
			<meta name="HandheldFriendly" content="true">
			<meta name="google-site-verification" content="wIlRHLenBVMgwOL7TvXjNyAlZL0eFQkxYfWuGssZXec" />
		</head>
		<body>
			<div class="title">Joshua King</div>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	         		<li><a href="/blog">Blog</a></li>
					<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<br>
			<footer>
	    		<ul>
	        	<li><a href="https://0joshua.github.io/">0joshua.github.io</a></li>
			</ul>
			</footer>
		</body>
	</html>
